<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.pageDescription }}">
    <meta name="keywords" itemprop="keywords" content="{{page.pageKeyword}}">
    <meta http-equiv = "content-language" content = "fa">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/w3.css">
    <link rel="stylesheet" href="/assets/css/site.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png?v=1"/>
</head>
<body class="pirbaba-body">
{% include nav.html %}
{{ content }}
</body>
</html>


